<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>

    <link rel="stylesheet" href="./include/css/reset.css">
    <link rel="stylesheet" href="./include/css/main.css">
    <link rel="stylesheet" href="./include/css/sub.css">
    
</head>
<body>
    <!-- 해더 -->
    <div class="header">
        <div class="head_top">
            <div class="inner">
                <ul class="top_menu">
                    <li>
                        <a href="">회원가입</a>
                    </li>
                    <li>
                        <a href="">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="head inner">
            <div class="logo">
                <img src="./include/images/logo.png" alt="로고">
            </div>
            <div class="search_con">
                <ul class="radio_box">
                    <li>
                        <input type="radio" class="radio_style" id="buy" name="search_radio" checked>
                        <label for="buy"><span class="radio_pointer"></span> 삽니다</label>
                    </li>
                    <li>
                        <input type="radio" class="radio_style" id="sale" name="search_radio">
                        <label for="sale"><span class="radio_pointer"></span> 팝니다</label>
                    </li>
                </ul>
                <div class="control">
                    <div class="search_box">
                        <input type="text" placeholder="검색어를 입력하세요.">
                    </div>
                    <button type="button" class="btn_search">
                        <img src="./include/images/icon-search.png" alt="검색아이콘">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- //해더 -->

    <div class="board_title">
        <h2>판매정보 확인
            <span>판매 정보를 한번 더 확인해 주세요</span>
        </h2>
    </div>
    <div class="section inner flex">
        <div class="side_con">
            <h3>안전거래수칙</h3>

            <ul class="txt_list">
                <li>구매자 연락처, 캐릭터명 확인
                    <ul>
                        <li>상대 거래자의 연락처, 캐릭터명을 반드시 확인합니다.</li>
                        <li>결제가 완료되면 마이룸에서 구매자 정보를 확인하실 수 있습니다.</li>
                    </ul>
                </li>
                <li>게임상에서 채팅은 금물!
                    <ul>
                        <li>게임상에서 채팅은 금물입니다.</li>
                        <li>전화통화 또는 1:1 대화함으ㅡ로 거래를 하시기 바랍니다.</li>
                    </ul>
                </li>
                <li>고의적 취소, 직거래유도 주의
                    <ul>
                        <li>고의적인 취소 또는 직거래를 유도할 경우 사이트 이용에 제한을 받으실 수 있습니다.</li>
                    </ul>
                </li>
            </ul>
            <p class="warning">다른사람의 정보를 기재하거나 다른 게임 서버에 거래신청을 하여 문제가 발생할 경우, 거래신청자에게 책임이 있습니다.</p>
        </div>
        <div class="board_con">
            <div class="board_table">
                <div class="bt_title">물품정보</div>
                <div class="bt_box">
                    <div class="bt_layer">
                        <div class="bt_l">물품제목</div>
                        <div class="bt_r">★안전한 200% 신용★ 현재 접속중입니다.</div>
                    </div>
                    <div class="bt_layer">
                        <div class="bt_l">등록일시</div>
                        <div class="bt_r">2023-11-23 18:38:26</div>
                    </div>
                    <div class="bt_layer">
                        <div class="bt_l">판매금액</div>
                        <div class="bt_r">100,000원</div>
                    </div>
                </div>
            </div>
            <div class="board_table">
                <div class="bt_title">내 거래정보</div>
                <div class="bt_box">
                    <div class="bt_layer">
                        <div class="bt_l">이름 <span class="star">*</span></div>
                        <div class="bt_r">홍길동</div>
                    </div>
                    <div class="bt_layer">
                        <div class="bt_l">연락처 <span class="star">*</span></div>
                        <div class="bt_r phone_num">
                            <p>02-1234-5678/010-1234-5678</p>
                            <button type="button" class="btn_basic change_num btn_black">연락처 수정</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn_box">
                <button type="button" class="btn_basic btn_b">판매신청</button>
            </div>
            <div class="warning2">
                <ul>
                    <li>이글을 누군가가 신청하라고 했다면 100% 사기입니다. (3자사기)</li>
                    <li>아래글 읽은뒤 연락주세요</li>
                    <li>판매신청후 구매자 캐릭터명 확인해 주세요.</li>
                    <li>업체 최고가 구매합니다.</li>
                </ul>
            </div>
            <button type="button" class="btn_more">+ More View</button>
        </div>
    </div>
    
</body>
</html>