<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">
    <!-- 푸터 -->
    <div class="footer">
        <div class="foot_top">
            <ul>
                <li>
                    <a href="">회사소개</a>
                </li>
                <li>
                    <a href="">이용약관</a>
                </li>
                <li>
                    <a href="">개인정보 처리방침</a>
                </li>
                <li>
                    <a href="">청소년 보호정책</a>
                </li>
                <li>
                    <a href="">이메일 수집거부</a>
                </li>
                <li>
                    <a href="">채용안내</a>
                </li>
                <li>
                    <a href="">제휴문의</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                </li>
                <li>
                    <a href="">경찰청 사이버 수사극</a>
                </li>
            </ul>

        </div>
        <div class="foot_bottom inner">
            <ul>
                <li>(주)코리아 IT 아카데미</li>
                <li>인천광역시 부평구 .... 빌딩 대표이사:황희승,오태용,정태하,정찬식</li>
                <li>고객센터:010-0000-0000 E-mail:https://github.com/B2-SAFETRADE/SAFE_TRADE.git</li>
                <li>사업자등록번호:000-00-00000 통신판매업신고번호:제 2002-부평-0015호</li>
            </ul>
            <p>Copyright ⓒ IMI. All rights reserved.</p>
        </div>
    </div>
    <!-- //푸터 -->
</footer>
</html>